.floating-button {
    position: fixed;
    width: 80px;
    height: 80px;
    bottom: 40px;
    right: 40px;
    background-color: #404A3D; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 15%;
    text-align: center;
    font-size: 24px;
    box-shadow: 2px 2px 3px #999;
    cursor: pointer;
    z-index: 1000;
  }
  
  .floating-button:hover {
    background-color: #EDDD5E;
    transition: 1s;
  }