.custom-datepicker {
  height: 100px; 
  font-size: 14px;
}
  
.react-datepicker__month-container {
  max-height: 200px; /* Control the dropdown height */
  overflow-y: auto; /* Allow scrolling if content is too large */
}
  
.react-datepicker__header {
  color: white;
}
  
.react-datepicker__day {
  font-size: 14px;
}
  
.react-datepicker {
  border-radius: 8px;
}
  