.navbar-custom {
    background-color: #213525; 
    height: 60px;
  }
  
  .navbar-brand {
    text-decoration: none !important; 
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff; 
    font-weight: bold; 
    font-size: 1.5rem;
  }
  
  .nav-button {
    color: #ffffff; 
    text-decoration: none !important; 
    margin: 0 10px;
    line-height: 0px; 
    border: 1px solid transparent; 
    padding: 20px 20px;
    transition: border-width 0.5s ease;
  }
  
  .nav-button:hover,
  .nav-button:focus {
    background-color: transparent; 
    border-color: #ffffff; 
    color: #ffffff; 
  }
  